<section class="about-section" id="about">
    <div class="container-lg min-vh-100 py-5">
        <div class="row min-vh-100 align-items-center">
            <div class="col-md-6 mt-5 mt-md-0">
                <div class="about-img text-center position-relative">
                    <button type="button" class="position-absolute top-0 start-50 translate-middle btn-edit" data-bs-toggle="modal" data-bs-target="#about-modal"><i class="fa-solid fa-pen"></i></button>
                    <app-about-modal></app-about-modal>
                    <img class="border border-dashed rounded-circle mw-100" src="/assets/img/profile-test.jpeg" alt="Foto Perfil">
              
                </div>
            </div>
          
            <div class="col-md-6 mt-5 mt-md-0 order-md-first">
                <div class="about-text">
                    <h1 class="about-title">¡Hola!</h1>
                    <h2 class="about-title"><span>Soy {{persona.firstName}} {{persona.lastName}}</span></h2>
                    <p class="mt-4 lh-lg"> {{persona.description}}</p>
                </div>
            </div>
        </div>
    </div>    
</section>
