.main-title{
    font-family: var(--ff-heading);
    font-size: var(--fs-lg);
}

.sub-title{
    font-size: var(--fs-600);
}

#login-section{
    height: 87vh;
    background-color: var(--platinum);
}