<section id="login-section" class="text-center d-flex flex-column align-items-center">
    <div class="p-5">
      <h1 class="main-title">iniciar sesion</h1>
      <h2 class="sub-title"> ingresa tus credenciales</h2>
    </div> 
    <form *ngIf="!isLoggedIn" class="form-floating" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3 ">
            <input type="text" class="form-control" placeholder="name@example.com" name="username" [(ngModel)]="form.username" #username="ngModel">
            <label for="username" class="form-label" >Username</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control"  placeholder="password" name="password" [(ngModel)]="form.password" #password="ngModel">
            <label for="password" class="form-label">Password</label>
        </div>
        <div >
            <button class="btn btn-dark ">entrar</button>
        </div>  
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Hola Hola {{ roles }}
    </div>
    <app-profile></app-profile>    
</section>



<!--     <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="mx-1 mx-md-4">
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-group form-outline flex-fill mb-0">
            <input class="form-control" type="text" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel" [ngClass]="{
                          'is-invalid': f.submitted && username.errors
                        }" />
                      <label class="form-label register-label" for="username">nombre</label>
                      <div class="error-feedback" *ngIf="username.errors && f.submitted">
                        <div *ngIf="username.errors['required']">
                          nombre es necesario.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form group form-outline flex-fill mb-0">
                      <input type="password" name="password" class="form-control" [(ngModel)]="form.password" required
                        minlength="4" #password="ngModel" [ngClass]="{
                          'is-invalid': password.errors && f.submitted
                        }" />
                      <label class="form-label register-label" for="password">contraseña</label>
                      <div class="error-feedback" *ngIf="password.errors && f.submitted">
                        <div *ngIf="password.errors['required']">
                          contrasena necesaria
                        </div>
                        <div *ngIf="password.errors['minLength']">
                          contrasena minima de 6 caracteres
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <div class="form-group">
                      <button class="btn btn-danger btn-lg">Aceptar</button>
                    </div>
                  </div>
                  <div class="alert alert-warning" *ngIf="f.submitted && isLoginFailed">
                    Signup failed!<br />{{ errorMessage }}
                  </div>
    </form>
              

              <div class="alert alert-success" *ngIf="isLoggedIn">
                Logged in as {{ roles }}.
              </div> -->