h1 {
    font-family: var(--ff-heading);
    font-size: var(--fs-xl);
    font-weight:700;
    line-height: 0.9;
    color: var();
}

.title-1{
    color: var(--russian-violet);
}

.title-2{
    color: var(--y-in-mn-blue);

}

.title-3{
    color: var(--mellow-apricot);
}

.icon-color{
    color: black;
}

p {
    font-family: var(--ff-body);
    font-size: var(--fs-600);
    line-height: 1.2;
}

.icon-color:hover {
    color: var(--mellow-apricot);
}