<div class="container text-center pt-4">
    <div class="row py-5">
      <h1 class="title-1">¡Bienvenido!</h1>
      <h1 class="title-2">¡Welcome!</h1>
      <h1 class="title-3">¡ いらっしゃい !</h1>
    </div>
    <div class="row  py-4">
      <p class="">¡Me alegra que estes aqui!<br>Puedes ver mi portafolio cuando gustes.</p>
    </div>
  
    <div class="row p-4" routerLink="active">
      <a routerLink="/contenido" type="button"><i class="icon-color fa-solid fa-circle-right fa-3x"></i></a>
        
      
   
    </div>
</div>