@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400&family=Roboto:wght@100;400;700&display=swap');


:root {
    --russian-violet: #0f0d35ff;
    --platinum: #eaebe7ff;
    --y-in-mn-blue: #204fa1ff;
    --mellow-apricot: #fab464ff;

    --ff-heading:'Roboto', sans-serif;
    --ff-body:'Heebo', sans-serif;

    --fs-xl: clamp(3.5rem, 10vw + 1rem, 10rem);
    --fs-lg: clamp(2.5rem, 5vw + 1rem, 5rem);
    --fs-600: clamp(0.5rem, 2vw + 0.5rem, 2rem);
    --fs-400: clamp(0.3rem, 1vw + 0.5rem, 1rem);
    }


.btn-edit{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 0;
    color: white;
    background:#f8cc62;
}

/*  font-family: 'Julius Sans One', sans-serif;
    font-family: 'Poppins', sans-serif; */

*{
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
    /* background-color: var(--platinum); */
}

html {
    scroll-padding-top: 70px;
}

.modal-body label{
    color: #808080;
}

.modal-header,
.modal-footer{
    border: 0;
}

.modal-title{
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    color: #696969;
}

.modal-info {
    font-family: 'Poppins', sans-serif;
    font-weight:lighter;
    color: #808080;
}

.btn-login{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
    background: #696969;
    border-radius:20px;
    border: 0;
    padding: 8px 20px;
}

.btn-login:hover{
    color:#fee2a8;
}

.btn-edit:hover{
    background:#d586b0;
}

.section-title{
    font-family: 'Poppins',sans-serif;
    font-size: 5em;
    font-weight: bold;
    color: #a4c4b5;
}

@media (max-width:575.98px){
    .section-title{
        font-size: 3.4rem;
    }
}